#pizza{
  position: relative;
  top: 7rem;
  left: 6rem;
  width:70%;
}

#pBg{
  z-index: -1;
  width: 100%;
}

#txt1{
  position: relative;
  font-size: 370%;
  width: 65%;
  top: 1rem;
  left: 9rem;
}

#boton1{
  position: relative;
  top: 0rem;
  width: 15rem;
}

#navbar{
  width: 26%;
}

header{
  width: 100%;
  z-index: 10;
}

#contImgBtn{
  position: relative;
  top: 30vh;
}

#contImgTxt{
  position: relative;
  top: 50vh;
}

@media (max-width: 640px) {
  #navbar{
    position: relative;
    width: 60%;
    left: -2.5rem;
  }

  #txt1{
    position: relative;
    font-size: 130%;
    width: 100%;
    top: -1rem;
    left: -1rem;
  }

  #contImgBtn{
    position: relative;
    top: 0;
  }
  #pizza{
    position: relative;
    top: 0vh;
    left:0%;
    width:50%;
  }

  #boton1{
    position: relative;
    top: 1rem;
    left: 1.3rem;
    width: 7rem;
  }

  #boton2{
    position: relative;
    top: 1rem;
    left: 2.7rem;
    width: 7rem;
  }

  #pBg{
    z-index: -1;
    width: 100%;
    position: relative;
    top: 17vh;
  }

  #pizza1{
    position: relative;
    left: 1rem;
  }

  #lista1{
    position: relative;
    left: 2.5rem;
    width: 8rem;
  }

  #lista2{
    position: relative;
    left: -2rem;
    width: 8rem;
  }

  #pizza2{
    position: relative;
    left: -1rem;
  }

  #boton3{
    position: relative;
    top: 1rem;
    left: -1.8rem;
    width: 7rem;
  }

  #mapa{
    width: 20rem;
  }
}