@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply  py-2 px-4 rounded-md font-bold;
}

.btn-red{
  @apply bg-red-600 text-white;
}

.btn-red:hover{
  @apply bg-red-700 shadow-lg shadow-rose-700/50;
}